input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
	appearance: none;
	-moz-appearance: textfield;
}

body {
	position: relative;
	color: rgba(0, 0, 0, 0.624);
}

.progress {
	animation: progressUp 10s ease-in;
}

@keyframes progressUp {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}
